<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <link rel="stylesheet" href="./main.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Sam I am</h1>  
        <div>
            <button id="animationRoute">animation</button>
        </div>

        <div>
            <button id="other">Robyn click here</button>
        </div>
    </main>
	<script src="./homePage.js"></script>
  </body>
</html>
